@charset 'UTF-8';

:root {
    --branco: #FDFDFF;
    --preto: #070707;
    --cinza: #8B8982;
    --roxo: #9055A2;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cinza);
    color: var(--branco);
}

header {
    background-color: var(--roxo);
    width: 70%;
    margin: auto;
    padding: 10px;
}

a {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    color: var(--branco);
    background-color: var(--preto);
}

a:hover {
    background-color: var(--cinza);
}

h1 {
    font-family: var(--fonteprincipal);
}

main {
    background-color: var(--preto);
    width: 70%;
    margin: auto;
    padding: 10px;
}

